@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, html {
  font-family: 'Nunito', sans-serif;
}

.nav-header{
  padding: 5px;
  background-color: skyblue;
}

.nav-header li{
  display: inline-block;
  padding: 10px;
}

.nav-header li a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 400px;
  margin-top: 20px;
}

.inputSelect {
  width: 415px;
  height: 30px;
  margin-bottom: 20px; 
}

.inputDate {
  width: 150px;
  height: 30px;
  font-size: 15px;  
  text-indent: 2px;
  margin-bottom: 20px;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}

.appButton {
  margin-left: 110px;
}
