@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, html {
  font-family: 'Nunito', sans-serif;
}

.nav-header{
  padding: 5px;
  background-color: skyblue;
  box-shadow: 0px 2px 10px -3px rgb(0, 206, 235);
}

.nav-header li{
  display: inline-block;
  padding: 10px;
}

.nav-header li a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.nav-footer {
  margin-top: auto;
  background-color: skyblue;
  width: 100%;
  text-align: center;
  box-shadow: 0px -2px 10px -3px rgb(0, 206, 235);
}

.App-link {
  color: #61dafb;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.comp-container {
  box-shadow: 0px 2px 8px -3px rgb(104, 104, 104);
  border-radius: 25px;
  padding: 15px;
}